body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    font-weight: 900;
}
h2{
    font-size: 50px;
}
.main-section-style{
    display: flex;
    padding: 100px 65px 100px 70px;
}
.width-50percent{
    width: 50%;
}

.specific-color{
    color: #ff9933;
}
.order-button{
    padding: 20px 40px;
    text-decoration: none;
    background-image: linear-gradient(#ff9933, #ff3333);
    border-radius: 50px 50px;
    color: #fff;
}
.bg-image{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.recipies{
    display: flex;
    padding: 7%;
}

.width-30percent{
    width: 30%;   
}
.width-30percent img{
    text-align: center;
}
.box-shadow{
    margin-left:2%;
    margin-right: 2%;
    padding: 20px 15px 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    border-radius: 15px;     
}
